$myFont: Helvetica, sans-serif;


body{
  .wrapper{
    padding: 10px;
    nav {
      background-color: cornflowerblue;
      margin-bottom: 10px;
      a {
        color: #dbdbdb;
      }

      .active {
        color: white;
      }

    }
    .nav2{
      background-color: darkgrey;
    }

  }
  .img-responsive{
    margin-top: 10px;
    width: 100%;
  }
  footer {
    background: darkgrey;
    color: #dbdbdb;
    font-size: 11px;

    .container {
      height: 110px;
      padding: 10px 0;
      h3 {
        border-bottom: 1px solid #919191;
        color: white;
        font-size: 14px;
        line-height: 21px;
        margin: 0 0 10px;
        text-transform: uppercase;
      }

      p {
        margin: 5px 0;
      }

      .twitter {
        p {
          padding-right: 15px;
        }

        time a {
          color: #b4aeae;
          text-decoration: underline;
        }
      }
      a {
        color: #dbdbdb;
      }

      .sitemap a {
        display: block;
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
  }
}