/*sass index.scss index.css*/
body {
  font-family: Georgia, serif;
  color: rgb(60, 60, 60);
  margin-top: 80px;
  .table{
    width: 100%;
  }


  .wrapper{
    .image-container{
      padding: 10px;
    }
    .bodyContent{
      padding: 10px;
      position: relative;
      width: 100%;
      height: 100%;
    }
    nav {
      z-index: 1000;
      opacity: 0.9;
      height: 80px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: cornflowerblue;

      a {
        color: #dbdbdb;
        .active {
          color: white;
        }
      }
      .ul
      {
        color: cornflowerblue;
      }
    }
    .nav2{
      background-color: darkgrey;

    }

    footer {
      width: 100%;
      background-image: url("../images/sky3.jpg");
      bottom: 0;
      font-family: Georgia, serif;
      color: rgb(60, 60, 60);
      img{
        padding: 5px;
        border-radius: 15%;
      }
      .row{align-items:center;}
      .nameOfAirport{
        background-color: #31373d;
        text-align: center;
        p{
          font-family: Georgia, serif;
          margin-left:30px;
          margin-top:10px;
          color: white;
          text-align: justify;
        }
      }
      .container {
        .fa {
          padding: 20px;
          font-size: 20px;
          width: 60px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
          border-radius: 100%;
        }

        .fa:hover {
          opacity: 0.7;
        }

        .fa-facebook {
          background: darkgrey;
          color: white;
        }

        .fa-twitter {
          background: darkgrey;
          color: white;
        }

        .fa-google {
          background: darkgrey;
          color: white;
        }

        .fa-youtube {
          background: darkgrey;
          color: white;
        }

        .fa-instagram {
          background: darkgrey;
          color: white;
        }
        padding: 10px;

      }
    }

  }


}