<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../css/styles.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Аеропорт</title>

</head>
<body>
<div class="wrapper container-fluid" >
    <nav class="navbar navbar-default ">
        <ul class="nav">
            <li class="nav-item" >
                <a class="nav-link" href="../../../index.html">Головна сторінка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="aboutAirport.html">Про аеропорт</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="services.html">Послуги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Контакти</a>
            </li>
        </ul>
    </nav>
    <div class="heading">

    </div>
    <div class="row mainPart">
        <div class="col">
            <nav class="nav2">
                <ul class="nav">
                    <li class="nav-item" >
                        <a class="nav-link active" href="#1" >Служби аеропорту</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#2">Допоміжні служби</a>
                    </li>
                </ul>
            </nav>
            <div class="row">
                <div class="col">
                    <h3 id="1">Служби аеропорту</h3>
                    <p>
                        Довідка:                                                                     +38 (032) 229 81 12
                        <br>Приймальня аеропорту:                                           +38 (032) 229 82 16, info@airport.lviv.ua
                        <br>Каса аеропорту:                                                        +38 (032) 229 80 73, ticket@airport.lviv.ua
                        <br>Комерційний відділ (маркетинг, оренда, реклама):+38 (032) 229 81 72, vrasyak@lwo.aero
                        <br>Менеджер з маркетингу:                                           +38 (032) 229 82 37
                        <br>Менеджер із зв`язків з громадськістю:                    +38 (032) 229 82 65
                        <br>Служба авіаційної безпеки:                                      +38 (032) 229 80 55
                        <br>Вантажні послуги:                                                      +38 (032) 229 86 37
                        <br>Медичний пункт:                                                        +38 (032) 229 83 03
                        <br>Бізнес-зал:                                                                 +38 (032) 229 80 21, 229 83 58.
                        <br>Служба розшуку багажу (Lost & Found):                  +38 (032) 229 83 19
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 id="2">Допоміжні служби</h3>
                    <p>
                        Митний пост «Львів-аеропорт»:                                             +38 (032) 229-82-88, «гаряча лінія»: +38 (044) 247-27-19
                        <br>Відділ прикордонної служби «Львів-аеропорт»:                   +38 (032) 229-83-71, «гаряча лінія»: +38 (044) 527-63-63
                        <br>Пункт ветеринарно-санітарного контролю:                           +38 (032) 229-83-61
                        <br>Відділ Санітарної охорони території України в аеропорту:  +38 (032) 229-84-95
                        <br>Центр туристичної інформації:                                                +38 (067) 673-91-94
                        <br>Лінійне відділення міліції в аеропорту «Львів»:                    +38 (032) 262-19-80
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="container">
    </div>
</footer>
</div>
<div>
</div>


</body>
</html>